
<div class="flex">
<div class="w-[66.5%] h-[100vh]">

<div class="ml-[9.3%] mt-[11.54%]">

    <img src="../../assets/logo.svg" alt="">

    <div class="mt-[10%]">
        <h1 class="text-[32px] font-bold text-[#5F5F5F]">Fujitsu Network</h1>
    <h2 class="text-[#363431] font-medium text-[32px] mt-1">Virtuora XM</h2>
    </div>
    <div class="mt-[1.42%] w-[63.42%] h-[14%]">
        <input
          type="text"
          placeholder="User ID / Email ID"
          class="w-full h-[65px] px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-red-500"
        />
      </div>
      <div class="w-[63.42%] mt-[1.5%] h-[4%]">
        <input
          type="password"
          placeholder="Password"
          class="w-full h-[65px] px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-red-500"
        />
      </div>
      <div class=" w-[63.42%] mt-[1.5%] flex items-center justify-between">
        <label class="inline-flex items-center text-sm text-gray-600">
          <input type="checkbox" class="form-checkbox h-[20px] w-[20px] text-red-600" />
          <span class="ml-2 text-[20px]">Remember me</span>
        </label>
        <a href="#" class="text-[20px] text-blue-500 hover:underline">Forgot password?</a>
      </div>
      <button
        type="submit"
        class="w-[63.42%] mt-[5%] h-[70px] py-3 bg-red-500 text-white font-medium rounded-lg shadow hover:bg-red-600"
      >
        Login
      </button>




</div>
</div>
<div class="w-[34.5%] bg-gradient-to-b from-[#ED1C29] to-[#EC0D8A] h-[100vh] bg-right">
    <img class="absolute -ml-[18.9%] mt-[7.21%] z-10 " src="../../assets/log.svg" alt="Background Image" />
    <footer
    class="absolute bottom-4 right-4 text-xs text-white"
  >
    © FUJITSU LIMITED 2024
  </footer>
</div>
</div>